
<b class="error">{{mError}}</b>

<div class="row" *ngIf="inGame == true && isFinish==false ">
<div class="column">
<div  class="float-left">
<h3 class="ok center">{{mOk}}</h3>
</div>

<div class="float-right">
<h3 class="ok center">Round {{round}}</h3>
</div>
</div>

</div>




<div>
  <form  class="center" *ngIf="inGame == false && isFinish==false ">
  <fieldset>
  	
    <label for="player1">Player One</label>
    <input type="text" placeholder="Nicoly" [(ngModel)]="inputGame.playerOne" name="player1"/>
    <label for="player2">Player Two</label>
    <input type="text" placeholder="Nicoly" [(ngModel)]="inputGame.playerTwo" name="player2"/>
	<br>
    <input class="button-primary"  (click)="newGame()" type="button" value="Play" />
  </fieldset>
  	<h3>Statistics</h3>
	<table>
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Player</th>
	      <th>Games won</th>
	    </tr>
	  </thead>
	  <tbody>  
	    <tr *ngFor="let player of statistics.data; let i = index" >

	      <td>{{i}}</td>
	      <td>{{player.player}}</td>
	      <td>{{player.total}}</td>

	    </tr>
	  </tbody>
	</table>


</form>

<div *ngIf="inGame == true ">


	<div class="float-left">
		
		<h3>{{inputGame.playerOne}}</h3>
		<b>Score</b><br>
		<img class="point" src="{{winnerP1 >= 1 ? 'assets/image/pointok.png' : 'assets/image/point.png'}}">
		<img class="point" src="{{winnerP1 >= 2 ? 'assets/image/pointok.png' : 'assets/image/point.png'}}" >
		<img class="point" src="{{winnerP1 >= 3 ? 'assets/image/pointok.png' : 'assets/image/point.png'}}" >
	</div>

	<div class="float-right">

		<h3>{{inputGame.playerTwo}}</h3>
		<b>Score</b><br>
		<img class="point" src="{{winnerP2 >= 1 ? 'assets/image/pointok.png' : 'assets/image/point.png'}}">
		<img class="point" src="{{winnerP2 >= 2 ? 'assets/image/pointok.png' : 'assets/image/point.png'}}" >
		<img class="point" src="{{winnerP2 >= 3 ? 'assets/image/pointok.png' : 'assets/image/point.png'}}" >
	</div>
</div>


<div *ngIf="inGame == true && isFinish==false ">

	 <h3 class="center"> <b>{{turnPlayerName}}'s</b> turn, choose your move</h3>
	   <div class="row"  >

    <div class="column center">
    	<img src="assets/image/ROCK.png" (click)="move('R')">
    </div>
    <div class="column center">
    	<img src="assets/image/PAPER.png" (click)="move('P')">
    </div>
    <div class="column center">
    	<img src="assets/image/SCISSORS.png" (click)="move('S')">
    </div>
  </div>
</div>

<div class="center" *ngIf=" isFinish==true ">
	<h1 class="ok">{{mWinner}}</h1>
	 <input class="button-primary"  (click)="reset()" type="button" value="Play again" />
</div>

</div>





